.headName1 {
  font-size: 55px;
  color: black;
}

#abid {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}

#about1 {
  width: 50%;
  height: 100%;
  text-align: center;
  transform: translateY(40%);
  font-family: 'Gowun Dodum', sans-serif;
}


#about2 {
  width: 50%;
  height: 100%;
  text-align: center;
  transform: translateY(25%);
  font-family: 'Gowun Dodum', sans-serif;
}