@charset "utf-8";

/* 구르미 갤러리 CSS - main.css */
/* 2. 갤러리박스 */
#gbx {
  position: relative;
  /* 부모자격: 버튼의 부모 */
  padding: 2% 0;
}

.gbx {
  position: relative;
  /* 부모자격 */
  width: 20%;
  max-width: 300px;
  /* 최대크기지정 */
  margin: 0 auto;
  /* outline: 4px dashed blue; */
}

.gbx::before {
  content: '';
  display: block;
  padding-top: 100%;
}

/* 갤러리 이미지 */
/* .gbx img {
  position: absolute; */
/* 부모는? .gbx */
/* top: 0;
  width: 100%;
  box-shadow: 6px 6px 5px #333;
  border-radius: 15px; */
/* 트랜지션 */
/* transition: all .4s ease-in-out;
} */

.gbx {
  font-family: 'Gowun Dodum', sans-serif;
}

.gbx div {
  position: absolute;
  /* 부모는? .gbx */
  top: 0;
  width: 100%;
  /* box-shadow: 6px 6px 5px #333;
  border-radius: 15px; */
  /* 트랜지션 */
  transition: all .4s ease-in-out;
}

/* 개별이미지 설정 */

/* 왼쪽 끝 */
.gbx div:nth-child(1) {
  top: -40%;
  left: -210%;
  transform: scale(.7);
  opacity: 0;
  /* 안보임 */
}

/* 왼쪽 바로옆 */
.gbx div:nth-child(2) {
  top: -20%;
  left: -110%;
  transform: scale(.9);
  filter: grayscale(50%) blur(1px);
}


/* 
    css 필터 속성: 이미지에 변형효과를 준다
    filter: 여러가지 필터(그레이스케일, 블러, 세피아, 콘트라스트 등)
    참조) https://www.w3schools.com/cssref/playit.asp?filename=playcss_filter&preval=none

*/
/* 중앙이미지 */
.gbx div:nth-child(3) {
  top: 0;
  left: 0;
  transform: scale(1);
}

/* 오른쪽 바로옆 */
.gbx div:nth-child(4) {
  top: -20%;
  left: 110%;
  transform: scale(.9);
  filter: grayscale(50%) blur(1px);
}

/* 오른쪽 끝 */
.gbx div:nth-child(5) {
  top: -40%;
  left: 210%;
  transform: scale(.7);
  opacity: 0;
  /* 안보임 */
}

/* 이동버튼 공통 */
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4%;
  max-width: 55px;
  /* 최대크기지정 */
}

.abtn img {
  width: 100%;
  /* 높이값은 자동조절 */
}

/* 오른쪽버튼 */
.rb {
  right: 10%;
}

/* 왼쪽버튼 */
.lb {
  left: 10%;
}

.gbx {
  width: 100%;
}


.kk>li {
  list-style: none;
  width: 100%;
}

.kk>li>a {
  color: yellow;
}

.kk>li>a:hover {
  color: aqua;
}

/* ul {
  width: 100%;
} */

/* li>a {
  z-index: 9999;
} */

/* 참고 https://homzzang.com/b/html-159 */